#eclipse
bin
.settings
.classpath
.project

#In case people make their workspace in the repo
/eclipse/

#idea
.idea
classes
*.iml

#gradle
build
.gradle

#occupational hazards
#/projects/
/repo/
/buildSrc

#Patch rejects
/patches-/
*.patch.rej

# FML changelog
changelog.txt
/patches_old/
/patches_old_bak/
*.py
*.7z

# Akarin forge
/history
.travis.yml
/patches/
projects.ipr
projects.iws
Forge Client.launch
Forge Server.launch
projects/Clean/
.git

# Generate during build
CREDITS-fml.txt
LICENSE-new.txt
LICENSE-fml.txt